extends layout

block content
    center
        br
        br
        br
        .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 ログイン
                form(method='POST' action='/login')
                    div.form-group
                        label(for='email') Eメール &nbsp&nbsp&nbsp&nbsp
                        input.form-control(type='text' id='email' placeholder='email' name='email')

                    div.form-group
                        label(for='password') パスワード
                        input.form-control(type='password' id='password' placeholder='password' name='password')
                    button.btn.btn-primary(type='submit') Log in
